@font-face {
	font-family: 'Digital Mono';
	src: url('digital-7.mono.ttf') format('truetype');
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'system';
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}

.grid-block {
	width: 50vw;
	height: 50vh;
	margin: 0;
	flex: 1 1 auto;
	cursor: pointer;
}

.red {
	background: #F44336;
}

.blue {
	background: #2196F3;
}

.yellow {
	background: #f39c12;
}

.green {
	background: #4CAF50;
}

.controls {
	width: 420px;
	height: 420px;
	position: absolute;
	top: calc(50vh - 210px);
	border-radius: 100%;
	left: calc(50vw - 210px);
	text-align: center;
	background: #bdc3c7;
	z-index: 1;
	font-size: 3em;
}

.controls-relative-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.simon {
	position: absolute;
	top: 120px;
	width: 100%;
	text-align: center;
}

.counter-bg {
	position: absolute;
	height: 64px;
	width: 60px;
	color: #222;
	background-color: #000000;
	border-radius: 1px;
	top: 40px;
	left: calc(50% - 35px);
	line-height: 72px;
	text-align: right;
	padding-right: 5px;
	font-family: 'Digital Mono';
	font-size: 60px;
	z-index: 2;
}

.counter {
	position: absolute;
	height: 64px;
	width: 60px;
	color: red;
	top: 40px;
	left: calc(50% - 35px);
	line-height: 72px;
	text-align: right;
	padding-right: 5px;
	font-family: 'Digital Mono';
	font-size: 60px;
	z-index: 3;
	transition: .4s;
}

.counter-faded {
	color: #222;
	transition: .4s;
}

.start {
	position: absolute;
	top: 230px;
	left: 100px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #F44336;
	cursor: pointer;
}

.start-label {
	position: absolute;
	top: 280px;
	left: 90px;
	font-size: 18px;
}

.volume-on, .volume-off {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 230px;
	left: 190px;
	cursor: pointer;
}

.strict-mode-led-bg, .strict-mode-led {
	position: absolute;
	top: 210px;
	right: 115px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #000;
}

.strict-mode-led {
	background-color: #4CAF50;
	z-index: 4;
}

.strict-mode-button {
	position: absolute;
	top: 230px;
	right: 100px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f39c12;
	cursor: pointer;
}

.strict-mode-label {
	position: absolute;
	top: 280px;
	right: 90px;
	font-size: 18px;
}

.power {
	position: absolute;
	height: 48px;
	width: 72px;
	bottom: 50px;
	left: calc(50% - 32px);
	cursor: pointer;
}

.label-off {
	position: absolute;
	bottom: 50px;
	font-size: 32px;
	left: calc(50% - 102px);
}

.label-on {
	position: absolute;
	bottom: 50px;
	font-size: 32px;
	right: calc(50% - 102px);
}

/* Power button */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
	display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal {
	position: absolute;
	top: calc(50vh - 210px);
	border-radius: 100%;
	left: calc(50vw - 210px);
	text-align: center;
	background-color: #ffffff;
	z-index: 10;
	width: 420px;
	height: 420px;
	line-height: 420px;
	font-size: 48px;
}

.hidden {
	display: none;
}

.press {
	animation-name: press;
	animation-duration: 400ms;
}

@keyframes press {
	0%		{opacity: 1;}
	50%		{opacity: .7;}
	100%	{opacity: 1;}
}

.flash {
	animation-name: flash;
	animation-duration: 500ms;
}

@keyframes flash {
	0%		{opacity: 1;}
	50%		{opacity: .5;}
	100%	{opacity: 1;}
}


@media all and (max-width: 500px) {
	.container {
		align-content: flex-start;
	}
	.grid-block {
		height: calc(50vh - 100px);
	}
	.controls {
		width: 100%;
		height: 200px;
		top: calc(100vh - 200px);
		border-radius: 0;
		left: 0;
		font-size: 2em;
	}
	.simon {
		display: none;
	}
	.label-off, .label-on {
		font-size: 20px;
		bottom: 20px;
	}
	.label-off {
		left: calc(50% - 90px);
	}
	.label-on {
		right: calc(50% - 90px);
	}
	.power {
		bottom: 0;
	}
	.counter-bg, .counter {
		top: 10px;
	}
	.volume-on, .volume-off {
		top: 90px;
		left: calc(50vw - 15px);
	}
	.start, .strict-mode-button {
		top: 50px;
	}
	.start-label, .strict-mode-label {
		top: 100px;
	}
	.strict-mode-led, .strict-mode-led-bg {
		top: 30px;
	}
	.modal {
		width: 200px;
		height: 200px;
		top: calc(50vh - 200px);
		left: calc(50vw - 100px);
		font-size: 24px;
		line-height: 200px;
	}
}
